html, body{
    //ie scrollBar隱藏
    -ms-overflow-style: none;
    //chrome,safari scrollBar隱藏
    ::-webkit-scrollbar {
        display: none;
    }
    //FireFox scrollBar隱藏
    overflow: -moz-scrollbars-none;
    font-family: "微軟正黑體";

}
/*div{
    font-size: 16px;
    div{
        font-size: 1rem;
        font-size: 0.1em;
        div{
            font-size: 0.5rem;
            font-size: 0.5em;
        }
    }
}
<div class="div">
    <div>   
        <div></div>
    </div>
    <div></div>
</div>   繼承 對到*/